<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome to our software template!</h1>
    <p>This repository is designed to help you quickly get started with building and delivering a container with Node.js.</p>
    <h2>Getting Started</h2>
    <ol>
      <li>Clone the repository.</li>
      <li>Build the container: <code>docker build -t my-node-app .</code></li>
      <li>Run the container: <code>docker run -p 8080:8080 my-node-app</code></li>
    </ol>
    <h2>Features and Technologies</h2>
    <ul>
      <li>Node.js</li>
      <li>Docker</li>
      <li>Express.js</li>
      <li>MongoDB</li>
    </ul>
  </body>
</html>